body {
    color: #3d5c5c;
    text-align: justify;
}

h3{
	color: #ff7400;
}

h1{
	color: #ff7400;
}

h4{
	color: #ff7400;
}

p, ul, li{
	font-size: 13pt;
	
}

table{
	width: 100%;
}

hr{
	border: 1px solid gray ;
}